.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    
    h2{
        margin-bottom: 1rem;
        text-align: center;
    }

    p{
        margin-bottom: 2rem;
        text-align: center;
    }

    button{
        background-color: var(--yellow-500);
        color: #fff;
        min-width: 300px;
        height: 48px;
        padding: 4px 16px;
        border-radius: 8px;
        border: none;
        text-transform: none;
        cursor: pointer;
    }

    background-color: var(--gray-600);
    background-image:url(../../../public/images/home/vaso-black.jpg) ;
    background-size: cover;
    background-position: center;
    height: 300px;
}